.tiptap h1 {
  font-size: 2rem;
  font-weight: 600;
}

.tiptap h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

.tiptap h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.tiptap a {
  text-decoration: underline;
  color: #006ab0 !important;
}

.tiptap img {
  width: 100%;
  max-width: 800px;
  border-radius: 25px;
  margin: 0 auto;
}
